* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(243, 96%, 9%);
    font-size: 1rem;
    /* base size for rem scaling */
}

/* Fonts */
@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("turetype");
    font-style: italic;
}

@font-face {
    font-family: "DM Sans";
    src: url("../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz%2Cwght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("/assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

nav {
    margin-top: 4rem;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
}

.logo {
    margin-left: 5%;
}

.dropdown {
    position: absolute;
    right: 5%;
    margin-top: 0.5rem;
    background-color: hsl(242, 27%, 20%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: "DM Sans", sans-serif;
    display: none;
    width: 12rem;
    max-width: 90%;
    z-index: 20;
}

.dropdown.dropdowndisplay {
    display: block;
    /* visible when toggled */
}

.dropdown-btn {
    display: flex;
    align-items: center;
    background-color: rgb(38, 37, 65);
    color: rgb(213, 212, 217);
    font-size: 0.82rem;
    cursor: pointer;
    margin-right: 5%;
    gap: 0.18rem;
    border: none;
    padding: 1.11rem 0.36rem;
    border-radius: 0.40rem;
    height: 1.6rem;
    min-width: unset;
}

.dropdown-btn:hover {
    outline: 2px solid hsl(250, 6%, 84%);
    outline-offset: 0.25rem;
}

.unitimg {
    height: 0.875rem;
    width: 0.875rem;
    margin-left: 8px;
}

.downimgunit {
    height: 1rem;
    width: 1rem;
    margin-top: 0.25rem;
}

.drop-down-item-switch {
    color: hsl(250, 6%, 84%);
    font-size: 0.9rem;
    text-align: left;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

.drop-down-item-switch:hover {
    border-radius: 0.25rem;
    background-color: hsl(243, 23%, 24%);
}

.temperature p,
.wind-speed p,
.Precipitation p {
    font-size: 0.9rem;
    margin-top: 0.25rem;
    color: hsl(240, 6%, 70%);
    font-weight: 300;
}

.temperature,
.wind-speed,
.Precipitation {
    display: flex;
    flex-direction: column;
}

.line,
.line2 {
    width: 90%;
    height: 1px;
    background-color: hsl(240, 6%, 70%);
    margin: 0.5rem 0;
    border-radius: 0.25rem;
}

.Celsiusbtn,
.Fahrenheitbtn,
.kmh-btn,
.mph,
.Millimetersbtn,
.Inchesbtn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: hsl(250, 6%, 84%);
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.checkimg {
    height: 0.9rem;
    width: 0.75rem;
    margin-left: 0.75rem;
    display: none;
}

.clicked {
    background-color: hsl(243, 23%, 24%);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.main-heading {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}

.main-heading h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Bricolage Grotesque";
    font-size: 2rem;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 5.3rem;
}

.input input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 115%;
    max-width: 313px;
    margin-right: 2rem;
    background-color: hsl(243, 27%, 20%);
    border: none;
}

input {
    color: hsl(0, 0%, 100%);
}

input::placeholder {
    color: hsl(0, 0%, 100%);
    opacity: 1;
}

.searchbtn button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 85, 218);
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    height: 80%;
    width: 6vw;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    margin-top: 0.1rem;
    text-align: center;
}

.searchbtn button:hover {
    background-color: hsl(248, 70%, 36%);
}

.not-found {
    color: hsl(0, 0%, 100%);
    font-family: "DM Sans";
    text-align: center;
    margin-top: 1rem;
    display: none;
}

.failed-api {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "DM Sans";
    gap: 10px;
    display: none;
}

.failed-api h1 {
    color: hsl(0, 0%, 100%);
}

.failed-api p {
    color: hsl(240, 6%, 70%);
}

.main-wheather-continer {
    display: flex;
    gap: 1rem;
}

.show-wheather-container {
    display: flex;
    gap: 13rem;
    background: url("/assets/images/bg-today-large.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 34vh;
    width: 100%;
    max-width: 505px;
    margin-left: 9rem;
    margin-top: 1.5rem;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .show-wheather-container {
        background: url("/assets/images/bg-today-small.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
